
.cart-container{
    margin: 10px;
    background-color: azure;
    padding: 20px;
    height: fit-content;
    width: 70vw;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 4px rgb(59, 182, 240);
}
button{
    background-color: rgb(99, 184, 187);
    color: rgb(0, 0, 0);
    padding: 8px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
}
button:hover{
    background-color: rgb(23, 23, 194);
    color: #fff;
}
.cart-container img{
    height: 100px;
    width: 100px;
}
.cart-box{
    text-align: center;
    height: fit-content;
    background-color: #fff;
    width: 65vw;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 1px 1px 1px 2px rgb(75, 75, 75);
    margin: 10px;
}